.app.Dark{
    background-color: #222;
    color:rgba($color: #b40771de, $alpha: 1.0);

    .table{
      background-color: #222;
      .tablecell{
        color:grey;
      }
      
    }
    .Navbar{
        color:grey;
        .search{
        
           border-color: #999;
         
        }
    }
    .sidebar{
        background-color: #111;
        color:grey
    }
    .Datatables{
      .datagrid, .cellWithStatus {
        color:grey;
        border: none;
      }
    }
    input{
      background-color:transparent;
    }
}