.feature{
    margin-bottom:30px ;
    flex:2;
    padding-top: 10px;
      box-shadow: -27px 36px 49px -6px rgba(0,0,0,0.67);
    -webkit-box-shadow: -27px 36px 49px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: -27px 36px 49px -6px rgba(0,0,0,0.67);
    .top{
        display: flex;
        justify-content: space-between;
        justify-content:center;
        color:gray
    }
    .title{
        font-size: 16px;
        font-weight: 500;
        padding-right:70px;
    }
    .bottom{
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        gap:10px;
        .featuredchart{
            width: 100px;
            height: 100px;
        }
        .title{
            color:grey;
            font-style: 10px;
            font-weight: 20px;
            text-align: center;
        }
        .amount{
            color:grey;
            font-style: 10px;
            font-weight: bold;
        }
        .desc{
            color:grey;
            font-style: 10px;
            font-weight: 20px;
            text-align: center;
        }
    }
    .summary{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item{
            text-align: center;
        }
        .itemTitle{
            font-style: 14px;
            color:grey;
        }
        .itemresult{
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 10px;
            &.positive{
                color:green
            }
            &.negative{
                color:red
            }
        }
       

    }

   
}